<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faça o login</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h1>Faça o seu login</h1>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
    {% endblock %}
</body>
</html>

