<html>
    <head>
        <link rel="stylesheet" href="../static/Projetos/principal.css" />
    </head>
    <body>
        <div class="atividades">
            {%if erro %}
            {{erro}}
            {%endif%}
            {% if lista_estudos %}
            <table class="estudos" border="1">
                <tr>
                    <th>id</th>
                    <th>Materia</th>
                    <th>Hora</th>
                </tr>
                {%for x in lista_estudos%}
                <tr>
                    {%for y in x|safeseq%}
                    <th>{{y}}</th>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
            {% endif %}
        </div>
        <div class="editar_horario">
            <form method="post">
                <h1>Editar Horario</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="enviar" />
            </form>
        </div>
        <h3>Para apagar um horario de estudo, coloque o id correto, a materia correta e deixe o horario vazio</h3>
        <h3>Para editar um horario, preencha os 3 campos corretamente</h3>
        <h3>para criar um novo horario de estudo, deixe apenas o campo de id vazio</h3>
        <a class="btn btn-primary" href="{% url 'Projetos:principal'%}">Voltar para a tela inicial</a><br /><br />
    </body>
</html>