{# yonetim/templates/list.html #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 
'Projetos/style.css' %}" />
    </head>
    <body>
        {% if estudos %}
        {% render_table estudos %}
        {% else %}
        <p>Sem horario de estudo cadastrado</p>
        <a class="btn btn-primary" href="{% url 'Projetos:horarios_auto'%}">Criar um horario automatico</a>
        <a class="btn btn-primary" href="{% url 'Projetos:horarios_manual'%}">Criar um horario Manualmente</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'Projetos:horarios_manual'%}">Editar horario de estudo</a>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>Horario</th>
            </tr>
            {% if materias %}
            {% for m in materias%}
            <tr>
                <td>{{m.nome}}</td>
                <td>{{m.horario}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            <a class="btn btn-primary" href="{% url 'Projetos:apagar_horarios'%}">Apagar meus horarios de estudo</a>
        </table>
    </body>
</html>